# this is all the requirement packages for the app.py
flask
joblib>=1.1.0
pydantic
pytest

# for docker (need in unpiling the model_1.py)
scikit-learn>=1.0 
feature-engine>=1.5.0
xgboost>=1.6.0
pandas>=1.0.0
numpy>=1.18.0


# dev tools
flake8>=6.0
