# for app.py
Flask>=2.2,<3.0
joblib==1.5.1
pydantic>=2.5,<3.0

# for docker
scikit-learn==1.6.1
feature-engine==1.5.0
xgboost==1.6.0
pandas>=1.5.3
numpy>=1.23.5

# for testing
pytest>=8.4.0
flake8>=6.0