# for app.py
Flask>=2.2,<3.0
joblib==1.5.1
pydantic>=2.5,<3.0

#  for testing/docker
scikit-learn==1.6.1
feature-engine>=1.6.0,<2.0
xgboost==2.1.4
pandas>=1.5.3
numpy>=1.23.5

pytest>=8.4.0
flake8>=6.0